* {
  padding: 0;
  margin: 0;
}
/* div {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
} */

.nav {
  background-color: rgb(61, 57, 57);
  height: 50px;
}

span {
  margin-right: 50px;
  color: white;
}

input,
button {
  padding: 3px;
  margin-top: 10px;
  border-radius: 5px;
}

button {
  color: white;
  background-color: rgb(231, 201, 10);
}

.heading {
  color: rgb(231, 201, 10);
}

.body {
  margin: 10px;
  height: 100px;
  width: 100px;
  display: inline-block;
}

div {
  background-color: yellow;
  border: solid black 1px;
}

#f,
#t,
#s {
  margin: 10px;
}

#f {
  background-color: rgba(255, 200, 100, 0.5);
}

#s {
  background-color: rgba(255, 125, 100, 0.5);
}

#t {
  background-color: rgba(224, 132, 132, 0.5);
}
