* {
  padding: 0;
  margin: 0;
}
/* div {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
} */

.nav {
  background-color: rgb(61, 57, 57);
  height: 50px;
}

span {
  margin-right: 50px;
  color: white;
}

input,
button {
  padding: 3px;
  margin-top: 10px;
  border-radius: 5px;
}

button {
  color: white;
  background-color: rgb(231, 201, 10);
}

.heading {
  color: rgb(231, 201, 10);
}
